" set keep-english-in-normal-and-restore-in-insert
set keep-english-in-normal
set nohlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
set relativenumber
set scrolloff=3
set clipboard=unnamedplus,unnamed
set history=100000
set surround


" let mapleader=","
let mapleader=" "
" let mapleader="<space>"
" 左右跳转标签
noremap <leader>l gt
noremap <leader>h gT

noremap <leader>b :action Back<CR>
noremap <leader>f :action Forward<CR>
noremap <leader>v :action VimVisualToggleBlockMode<CR>
noremap <leader>fs :action FileStructurePopup<CR>
 
noremap <leader>ga :action GotoAction<CR>
noremap <leader>gc :action GotoClass<CR>
noremap <leader>gd :action GotoDeclaration<CR>
noremap <leader>gi :action GotoImplementation<CR>
noremap <leader>gs :action GotoSuperMethod<CR>
noremap <leader>gt :action GotoTest<CR>
 
" Window operation
nnoremap <leader>ww <C-W>w
nnoremap <leader>wd <C-W>c
nnoremap <leader>wj <C-W>j
nnoremap <leader>wk <C-W>k
nnoremap <leader>wh <C-W>h
nnoremap <leader>wl <C-W>l
nnoremap <leader>w9 <C-W>=
nnoremap <leader>ws <C-W>s
nnoremap <leader>w- <C-W>s
nnoremap <leader>wv <C-W>v
nnoremap <leader>w\\ <C-W>v

nnoremap za zo
nnoremap zr zR
nnoremap zm zM

" Quit visual mode
vnoremap v <Esc>

" Yank to the end of line
" nnoremap Y 0y$
nnoremap Y Vy

" Auto indent pasted text
nnoremap P p==

" Move to the start of line
nnoremap H ^
vnoremap H ^

" Move to the end of line
nnoremap L $
vnoremap L $

" These create newlines like o and O but stay in normal mode
nnoremap zj O<Esc>j
nnoremap zk o<Esc>k

" Quit insert mode
inoremap jj <Esc>
inoremap jk <Esc>
inoremap kj <Esc>
inoremap kk <Esc>


nmap / :action KJumpAction<cr>
nmap <leader><leader>s :action KJumpAction<cr>
nmap <leader><leader>w :action KJumpAction.Word0<cr>
" nmap <leader>l :action KJumpAction.Line<cr>
